{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-11-15",
    "endpointPrefix": "ec2",
    "protocol": "ec2",
    "protocols": [
      "ec2"
    ],
    "serviceAbbreviation": "Amazon EC2",
    "serviceFullName": "Amazon Elastic Compute Cloud",
    "serviceId": "EC2",
    "signatureVersion": "v4",
    "uid": "ec2-2016-11-15",
    "xmlNamespace": "http://ec2.amazonaws.com/doc/2016-11-15",
    "auth": [
      "aws.auth#sigv4"
    ]
  },
  "operations": {
    "AcceptTransitGatewayMulticastDomainAssociations": {
      "name": "AcceptTransitGatewayMulticastDomainAssociations",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AcceptTransitGatewayMulticastDomainAssociationsRequest"
      },
      "output": {
        "shape": "AcceptTransitGatewayMulticastDomainAssociationsResult"
      },
      "documentation": "<p>Accepts a request to associate subnets with a transit gateway multicast domain.</p>"
    },
    "AcceptTransitGatewayPeeringAttachment": {
      "name": "AcceptTransitGatewayPeeringAttachment",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AcceptTransitGatewayPeeringAttachmentRequest"
      },
      "output": {
        "shape": "AcceptTransitGatewayPeeringAttachmentResult"
      },
      "documentation": "<p>Accepts a transit gateway peering attachment request. The peering attachment must be in the <code>pendingAcceptance</code> state.</p>"
    },
    "AcceptTransitGatewayVpcAttachment": {
      "name": "AcceptTransitGatewayVpcAttachment",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AcceptTransitGatewayVpcAttachmentRequest"
      },
      "output": {
        "shape": "AcceptTransitGatewayVpcAttachmentResult"
      },
      "documentation": "<p>Accepts a request to attach a VPC to a transit gateway.</p> <p>The VPC attachment must be in the <code>pendingAcceptance</code> state. Use <a>DescribeTransitGatewayVpcAttachments</a> to view your pending VPC attachment requests. Use <a>RejectTransitGatewayVpcAttachment</a> to reject a VPC attachment request.</p>"
    },
    "AcceptVpcEndpointConnections": {
      "name": "AcceptVpcEndpointConnections",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AcceptVpcEndpointConnectionsRequest"
      },
      "output": {
        "shape": "AcceptVpcEndpointConnectionsResult"
      },
      "documentation": "<p>Accepts connection requests to your VPC endpoint service.</p>"
    },
    "AcceptVpcPeeringConnection": {
      "name": "AcceptVpcPeeringConnection",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AcceptVpcPeeringConnectionRequest"
      },
      "output": {
        "shape": "AcceptVpcPeeringConnectionResult"
      },
      "documentation": "<p>Accept a VPC peering connection request. To accept a request, the VPC peering connection must be in the <code>pending-acceptance</code> state, and you must be the owner of the peer VPC. Use <a>DescribeVpcPeeringConnections</a> to view your outstanding VPC peering connection requests.</p> <p>For an inter-Region VPC peering connection request, you must accept the VPC peering connection in the Region of the accepter VPC.</p>"
    },
    "ApplySecurityGroupsToClientVpnTargetNetwork": {
      "name": "ApplySecurityGroupsToClientVpnTargetNetwork",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ApplySecurityGroupsToClientVpnTargetNetworkRequest"
      },
      "output": {
        "shape": "ApplySecurityGroupsToClientVpnTargetNetworkResult"
      },
      "documentation": "<p>Applies a security group to the association between the target network and the Client VPN endpoint. This action replaces the existing security groups with the specified security groups.</p>"
    },
    "AssignIpv6Addresses": {
      "name": "AssignIpv6Addresses",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssignIpv6AddressesRequest"
      },
      "output": {
        "shape": "AssignIpv6AddressesResult"
      },
      "documentation": "<p>Assigns the specified IPv6 addresses to the specified network interface. You can specify specific IPv6 addresses, or you can specify the number of IPv6 addresses to be automatically assigned from the subnet's IPv6 CIDR block range. You can assign as many IPv6 addresses to a network interface as you can assign private IPv4 addresses, and the limit varies by instance type.</p> <p>You must specify either the IPv6 addresses or the IPv6 address count in the request. </p> <p>You can optionally use Prefix Delegation on the network interface. You must specify either the IPV6 Prefix Delegation prefixes, or the IPv6 Prefix Delegation count. For information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-prefix-eni.html\"> Assigning prefixes to network interfaces</a> in the <i>Amazon EC2 User Guide</i>.</p>"
    },
    "AssignPrivateNatGatewayAddress": {
      "name": "AssignPrivateNatGatewayAddress",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssignPrivateNatGatewayAddressRequest"
      },
      "output": {
        "shape": "AssignPrivateNatGatewayAddressResult"
      },
      "documentation": "<p>Assigns private IPv4 addresses to a private NAT gateway. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/nat-gateway-working-with.html\">Work with NAT gateways</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "AssociateDhcpOptions": {
      "name": "AssociateDhcpOptions",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateDhcpOptionsRequest"
      },
      "documentation": "<p>Associates a set of DHCP options (that you've previously created) with the specified VPC, or associates no DHCP options with the VPC.</p> <p>After you associate the options with the VPC, any existing instances and all new instances that you launch in that VPC use the options. You don't need to restart or relaunch the instances. They automatically pick up the changes within a few hours, depending on how frequently the instance renews its DHCP lease. You can explicitly renew the lease using the operating system on the instance.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/VPC_DHCP_Options.html\">DHCP option sets</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "AssociateNatGatewayAddress": {
      "name": "AssociateNatGatewayAddress",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateNatGatewayAddressRequest"
      },
      "output": {
        "shape": "AssociateNatGatewayAddressResult"
      },
      "documentation": "<p>Associates Elastic IP addresses (EIPs) and private IPv4 addresses with a public NAT gateway. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/nat-gateway-working-with.html\">Work with NAT gateways</a> in the <i>Amazon VPC User Guide</i>.</p> <p>By default, you can associate up to 2 Elastic IP addresses per public NAT gateway. You can increase the limit by requesting a quota adjustment. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/amazon-vpc-limits.html#vpc-limits-eips\">Elastic IP address quotas</a> in the <i>Amazon VPC User Guide</i>.</p> <important> <p>When you associate an EIP or secondary EIPs with a public NAT gateway, the network border group of the EIPs must match the network border group of the Availability Zone (AZ) that the public NAT gateway is in. If it's not the same, the EIP will fail to associate. You can see the network border group for the subnet's AZ by viewing the details of the subnet. Similarly, you can view the network border group of an EIP by viewing the details of the EIP address. For more information about network border groups and EIPs, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/WorkWithEIPs.html\">Allocate an Elastic IP address</a> in the <i>Amazon VPC User Guide</i>. </p> </important>"
    },
    "AssociateRouteServer": {
      "name": "AssociateRouteServer",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateRouteServerRequest"
      },
      "output": {
        "shape": "AssociateRouteServerResult"
      },
      "documentation": "<p>Associates a route server with a VPC to enable dynamic route updates.</p> <p>A route server association is the connection established between a route server and a VPC.</p> <p>For more information see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/dynamic-routing-route-server.html\">Dynamic routing in your VPC with VPC Route Server</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "AssociateRouteTable": {
      "name": "AssociateRouteTable",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateRouteTableRequest"
      },
      "output": {
        "shape": "AssociateRouteTableResult"
      },
      "documentation": "<p>Associates a subnet in your VPC or an internet gateway or virtual private gateway attached to your VPC with a route table in your VPC. This association causes traffic from the subnet or gateway to be routed according to the routes in the route table. The action returns an association ID, which you need in order to disassociate the route table later. A route table can be associated with multiple subnets.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Route_Tables.html\">Route tables</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "AssociateSecurityGroupVpc": {
      "name": "AssociateSecurityGroupVpc",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateSecurityGroupVpcRequest"
      },
      "output": {
        "shape": "AssociateSecurityGroupVpcResult"
      },
      "documentation": "<p>Associates a security group with another VPC in the same Region. This enables you to use the same security group with network interfaces and instances in the specified VPC.</p> <note> <ul> <li> <p>The VPC you want to associate the security group with must be in the same Region.</p> </li> <li> <p>You can associate the security group with another VPC if your account owns the VPC or if the VPC was shared with you.</p> </li> <li> <p>You must own the security group.</p> </li> <li> <p>You cannot use this feature with default security groups.</p> </li> <li> <p>You cannot use this feature with the default VPC.</p> </li> </ul> </note>"
    },
    "AssociateSubnetCidrBlock": {
      "name": "AssociateSubnetCidrBlock",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateSubnetCidrBlockRequest"
      },
      "output": {
        "shape": "AssociateSubnetCidrBlockResult"
      },
      "documentation": "<p>Associates a CIDR block with your subnet. You can only associate a single IPv6 CIDR block with your subnet.</p>"
    },
    "AssociateTransitGatewayMulticastDomain": {
      "name": "AssociateTransitGatewayMulticastDomain",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateTransitGatewayMulticastDomainRequest"
      },
      "output": {
        "shape": "AssociateTransitGatewayMulticastDomainResult"
      },
      "documentation": "<p>Associates the specified subnets and transit gateway attachments with the specified transit gateway multicast domain.</p> <p>The transit gateway attachment must be in the available state before you can add a resource. Use <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeTransitGatewayAttachments.html\">DescribeTransitGatewayAttachments</a> to see the state of the attachment.</p>"
    },
    "AssociateTransitGatewayPolicyTable": {
      "name": "AssociateTransitGatewayPolicyTable",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateTransitGatewayPolicyTableRequest"
      },
      "output": {
        "shape": "AssociateTransitGatewayPolicyTableResult"
      },
      "documentation": "<p>Associates the specified transit gateway attachment with a transit gateway policy table.</p>"
    },
    "AssociateTransitGatewayRouteTable": {
      "name": "AssociateTransitGatewayRouteTable",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateTransitGatewayRouteTableRequest"
      },
      "output": {
        "shape": "AssociateTransitGatewayRouteTableResult"
      },
      "documentation": "<p>Associates the specified attachment with the specified transit gateway route table. You can associate only one route table with an attachment.</p>"
    },
    "AssociateVpcCidrBlock": {
      "name": "AssociateVpcCidrBlock",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateVpcCidrBlockRequest"
      },
      "output": {
        "shape": "AssociateVpcCidrBlockResult"
      },
      "documentation": "<p>Associates a CIDR block with your VPC. You can associate a secondary IPv4 CIDR block, an Amazon-provided IPv6 CIDR block, or an IPv6 CIDR block from an IPv6 address pool that you provisioned through bring your own IP addresses (<a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-byoip.html\">BYOIP</a>).</p> <p>You must specify one of the following in the request: an IPv4 CIDR block, an IPv6 pool, or an Amazon-provided IPv6 CIDR block.</p> <p>For more information about associating CIDR blocks with your VPC and applicable restrictions, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/vpc-ip-addressing.html\">IP addressing for your VPCs and subnets</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "AttachClassicLinkVpc": {
      "name": "AttachClassicLinkVpc",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AttachClassicLinkVpcRequest"
      },
      "output": {
        "shape": "AttachClassicLinkVpcResult"
      },
      "documentation": "<note> <p>This action is deprecated.</p> </note> <p>Links an EC2-Classic instance to a ClassicLink-enabled VPC through one or more of the VPC security groups. You cannot link an EC2-Classic instance to more than one VPC at a time. You can only link an instance that's in the <code>running</code> state. An instance is automatically unlinked from a VPC when it's stopped - you can link it to the VPC again when you restart it.</p> <p>After you've linked an instance, you cannot change the VPC security groups that are associated with it. To change the security groups, you must first unlink the instance, and then link it again.</p> <p>Linking your instance to a VPC is sometimes referred to as <i>attaching</i> your instance.</p>"
    },
    "AttachInternetGateway": {
      "name": "AttachInternetGateway",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AttachInternetGatewayRequest"
      },
      "documentation": "<p>Attaches an internet gateway or a virtual private gateway to a VPC, enabling connectivity between the internet and the VPC. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Internet_Gateway.html\">Internet gateways</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "AttachVpnGateway": {
      "name": "AttachVpnGateway",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AttachVpnGatewayRequest"
      },
      "output": {
        "shape": "AttachVpnGatewayResult"
      },
      "documentation": "<p>Attaches an available virtual private gateway to a VPC. You can attach one virtual private gateway to one VPC at a time.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpn/latest/s2svpn/VPC_VPN.html\">Amazon Web Services Site-to-Site VPN</a> in the <i>Amazon Web Services Site-to-Site VPN User Guide</i>.</p>"
    },
    "AuthorizeSecurityGroupEgress": {
      "name": "AuthorizeSecurityGroupEgress",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AuthorizeSecurityGroupEgressRequest"
      },
      "output": {
        "shape": "AuthorizeSecurityGroupEgressResult"
      },
      "documentation": "<p>Adds the specified outbound (egress) rules to a security group.</p> <p>An outbound rule permits instances to send traffic to the specified IPv4 or IPv6 address ranges, the IP address ranges specified by a prefix list, or the instances that are associated with a source security group. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/security-group-rules.html\">Security group rules</a>.</p> <p>You must specify exactly one of the following destinations: an IPv4 or IPv6 address range, a prefix list, or a security group. You must specify a protocol for each rule (for example, TCP). If the protocol is TCP or UDP, you must also specify a port or port range. If the protocol is ICMP or ICMPv6, you must also specify the ICMP type and code.</p> <p>Rule changes are propagated to instances associated with the security group as quickly as possible. However, a small delay might occur.</p> <p>For examples of rules that you can add to security groups for specific access scenarios, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/security-group-rules-reference.html\">Security group rules for different use cases</a> in the <i>Amazon EC2 User Guide</i>.</p> <p>For information about security group quotas, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/amazon-vpc-limits.html\">Amazon VPC quotas</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "AuthorizeSecurityGroupIngress": {
      "name": "AuthorizeSecurityGroupIngress",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AuthorizeSecurityGroupIngressRequest"
      },
      "output": {
        "shape": "AuthorizeSecurityGroupIngressResult"
      },
      "documentation": "<p>Adds the specified inbound (ingress) rules to a security group.</p> <p>An inbound rule permits instances to receive traffic from the specified IPv4 or IPv6 address range, the IP address ranges that are specified by a prefix list, or the instances that are associated with a destination security group. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/security-group-rules.html\">Security group rules</a>.</p> <p>You must specify exactly one of the following sources: an IPv4 or IPv6 address range, a prefix list, or a security group. You must specify a protocol for each rule (for example, TCP). If the protocol is TCP or UDP, you must also specify a port or port range. If the protocol is ICMP or ICMPv6, you must also specify the ICMP/ICMPv6 type and code.</p> <p>Rule changes are propagated to instances associated with the security group as quickly as possible. However, a small delay might occur.</p> <p>For examples of rules that you can add to security groups for specific access scenarios, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/security-group-rules-reference.html\">Security group rules for different use cases</a> in the <i>Amazon EC2 User Guide</i>.</p> <p>For more information about security group quotas, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/amazon-vpc-limits.html\">Amazon VPC quotas</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "CreateClientVpnRoute": {
      "name": "CreateClientVpnRoute",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateClientVpnRouteRequest"
      },
      "output": {
        "shape": "CreateClientVpnRouteResult"
      },
      "documentation": "<p>Adds a route to a network to a Client VPN endpoint. Each Client VPN endpoint has a route table that describes the available destination network routes. Each route in the route table specifies the path for tra\ufb03c to speci\ufb01c resources or networks.</p>"
    },
    "CreateCustomerGateway": {
      "name": "CreateCustomerGateway",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateCustomerGatewayRequest"
      },
      "output": {
        "shape": "CreateCustomerGatewayResult"
      },
      "documentation": "<p>Provides information to Amazon Web Services about your customer gateway device. The customer gateway device is the appliance at your end of the VPN connection. You must provide the IP address of the customer gateway device\u2019s external interface. The IP address must be static and can be behind a device performing network address translation (NAT).</p> <p>For devices that use Border Gateway Protocol (BGP), you can also provide the device's BGP Autonomous System Number (ASN). You can use an existing ASN assigned to your network. If you don't have an ASN already, you can use a private ASN. For more information, see <a href=\"https://docs.aws.amazon.com/vpn/latest/s2svpn/cgw-options.html\">Customer gateway options for your Site-to-Site VPN connection</a> in the <i>Amazon Web Services Site-to-Site VPN User Guide</i>.</p> <p>To create more than one customer gateway with the same VPN type, IP address, and BGP ASN, specify a unique device name for each customer gateway. An identical request returns information about the existing customer gateway; it doesn't create a new customer gateway.</p>"
    },
    "CreateDefaultSubnet": {
      "name": "CreateDefaultSubnet",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDefaultSubnetRequest"
      },
      "output": {
        "shape": "CreateDefaultSubnetResult"
      },
      "documentation": "<p>Creates a default subnet with a size <code>/20</code> IPv4 CIDR block in the specified Availability Zone in your default VPC. You can have only one default subnet per Availability Zone. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/work-with-default-vpc.html#create-default-subnet\">Create a default subnet</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "CreateDefaultVpc": {
      "name": "CreateDefaultVpc",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDefaultVpcRequest"
      },
      "output": {
        "shape": "CreateDefaultVpcResult"
      },
      "documentation": "<p>Creates a default VPC with a size <code>/16</code> IPv4 CIDR block and a default subnet in each Availability Zone. For more information about the components of a default VPC, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/default-vpc.html\">Default VPCs</a> in the <i>Amazon VPC User Guide</i>. You cannot specify the components of the default VPC yourself.</p> <p>If you deleted your previous default VPC, you can create a default VPC. You cannot have more than one default VPC per Region.</p>"
    },
    "CreateDhcpOptions": {
      "name": "CreateDhcpOptions",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDhcpOptionsRequest"
      },
      "output": {
        "shape": "CreateDhcpOptionsResult"
      },
      "documentation": "<p>Creates a custom set of DHCP options. After you create a DHCP option set, you associate it with a VPC. After you associate a DHCP option set with a VPC, all existing and newly launched instances in the VPC use this set of DHCP options.</p> <p>The following are the individual DHCP options you can specify. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/VPC_DHCP_Options.html\">DHCP option sets</a> in the <i>Amazon VPC User Guide</i>.</p> <ul> <li> <p> <code>domain-name</code> - If you're using AmazonProvidedDNS in <code>us-east-1</code>, specify <code>ec2.internal</code>. If you're using AmazonProvidedDNS in any other Region, specify <code>region.compute.internal</code>. Otherwise, specify a custom domain name. This value is used to complete unqualified DNS hostnames.</p> <p>Some Linux operating systems accept multiple domain names separated by spaces. However, Windows and other Linux operating systems treat the value as a single domain, which results in unexpected behavior. If your DHCP option set is associated with a VPC that has instances running operating systems that treat the value as a single domain, specify only one domain name.</p> </li> <li> <p> <code>domain-name-servers</code> - The IP addresses of up to four DNS servers, or AmazonProvidedDNS. To specify multiple domain name servers in a single parameter, separate the IP addresses using commas. To have your instances receive custom DNS hostnames as specified in <code>domain-name</code>, you must specify a custom DNS server.</p> </li> <li> <p> <code>ntp-servers</code> - The IP addresses of up to eight Network Time Protocol (NTP) servers (four IPv4 addresses and four IPv6 addresses).</p> </li> <li> <p> <code>netbios-name-servers</code> - The IP addresses of up to four NetBIOS name servers.</p> </li> <li> <p> <code>netbios-node-type</code> - The NetBIOS node type (1, 2, 4, or 8). We recommend that you specify 2. Broadcast and multicast are not supported. For more information about NetBIOS node types, see <a href=\"https://www.ietf.org/rfc/rfc2132.txt\">RFC 2132</a>.</p> </li> <li> <p> <code>ipv6-address-preferred-lease-time</code> - A value (in seconds, minutes, hours, or years) for how frequently a running instance with an IPv6 assigned to it goes through DHCPv6 lease renewal. Acceptable values are between 140 and 2147483647 seconds (approximately 68 years). If no value is entered, the default lease time is 140 seconds. If you use long-term addressing for EC2 instances, you can increase the lease time and avoid frequent lease renewal requests. Lease renewal typically occurs when half of the lease time has elapsed.</p> </li> </ul>"
    },
    "CreateEgressOnlyInternetGateway": {
      "name": "CreateEgressOnlyInternetGateway",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateEgressOnlyInternetGatewayRequest"
      },
      "output": {
        "shape": "CreateEgressOnlyInternetGatewayResult"
      },
      "documentation": "<p>[IPv6 only] Creates an egress-only internet gateway for your VPC. An egress-only internet gateway is used to enable outbound communication over IPv6 from instances in your VPC to the internet, and prevents hosts outside of your VPC from initiating an IPv6 connection with your instance.</p>"
    },
    "CreateFlowLogs": {
      "name": "CreateFlowLogs",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateFlowLogsRequest"
      },
      "output": {
        "shape": "CreateFlowLogsResult"
      },
      "documentation": "<p>Creates one or more flow logs to capture information about IP traffic for a specific network interface, subnet, or VPC. </p> <p>Flow log data for a monitored network interface is recorded as flow log records, which are log events consisting of fields that describe the traffic flow. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/flow-log-records.html\">Flow log records</a> in the <i>Amazon VPC User Guide</i>.</p> <p>When publishing to CloudWatch Logs, flow log records are published to a log group, and each network interface has a unique log stream in the log group. When publishing to Amazon S3, flow log records for all of the monitored network interfaces are published to a single log file object that is stored in the specified bucket.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/flow-logs.html\">VPC Flow Logs</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "CreateInternetGateway": {
      "name": "CreateInternetGateway",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateInternetGatewayRequest"
      },
      "output": {
        "shape": "CreateInternetGatewayResult"
      },
      "documentation": "<p>Creates an internet gateway for use with a VPC. After creating the internet gateway, you attach it to a VPC using <a>AttachInternetGateway</a>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Internet_Gateway.html\">Internet gateways</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "CreateLocalGatewayRoute": {
      "name": "CreateLocalGatewayRoute",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateLocalGatewayRouteRequest"
      },
      "output": {
        "shape": "CreateLocalGatewayRouteResult"
      },
      "documentation": "<p>Creates a static route for the specified local gateway route table. You must specify one of the following targets: </p> <ul> <li> <p> <code>LocalGatewayVirtualInterfaceGroupId</code> </p> </li> <li> <p> <code>NetworkInterfaceId</code> </p> </li> </ul>"
    },
    "CreateLocalGatewayRouteTable": {
      "name": "CreateLocalGatewayRouteTable",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateLocalGatewayRouteTableRequest"
      },
      "output": {
        "shape": "CreateLocalGatewayRouteTableResult"
      },
      "documentation": "<p> Creates a local gateway route table. </p>"
    },
    "CreateLocalGatewayRouteTableVirtualInterfaceGroupAssociation": {
      "name": "CreateLocalGatewayRouteTableVirtualInterfaceGroupAssociation",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateLocalGatewayRouteTableVirtualInterfaceGroupAssociationRequest"
      },
      "output": {
        "shape": "CreateLocalGatewayRouteTableVirtualInterfaceGroupAssociationResult"
      },
      "documentation": "<p> Creates a local gateway route table virtual interface group association. </p>"
    },
    "CreateLocalGatewayRouteTableVpcAssociation": {
      "name": "CreateLocalGatewayRouteTableVpcAssociation",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateLocalGatewayRouteTableVpcAssociationRequest"
      },
      "output": {
        "shape": "CreateLocalGatewayRouteTableVpcAssociationResult"
      },
      "documentation": "<p>Associates the specified VPC with the specified local gateway route table.</p>"
    },
    "CreateNatGateway": {
      "name": "CreateNatGateway",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateNatGatewayRequest"
      },
      "output": {
        "shape": "CreateNatGatewayResult"
      },
      "documentation": "<p>Creates a NAT gateway in the specified subnet. This action creates a network interface in the specified subnet with a private IP address from the IP address range of the subnet. You can create either a public NAT gateway or a private NAT gateway.</p> <p>With a public NAT gateway, internet-bound traffic from a private subnet can be routed to the NAT gateway, so that instances in a private subnet can connect to the internet.</p> <p>With a private NAT gateway, private communication is routed across VPCs and on-premises networks through a transit gateway or virtual private gateway. Common use cases include running large workloads behind a small pool of allowlisted IPv4 addresses, preserving private IPv4 addresses, and communicating between overlapping networks.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/vpc-nat-gateway.html\">NAT gateways</a> in the <i>Amazon VPC User Guide</i>.</p> <important> <p>When you create a public NAT gateway and assign it an EIP or secondary EIPs, the network border group of the EIPs must match the network border group of the Availability Zone (AZ) that the public NAT gateway is in. If it's not the same, the NAT gateway will fail to launch. You can see the network border group for the subnet's AZ by viewing the details of the subnet. Similarly, you can view the network border group of an EIP by viewing the details of the EIP address. For more information about network border groups and EIPs, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/WorkWithEIPs.html\">Allocate an Elastic IP address</a> in the <i>Amazon VPC User Guide</i>. </p> </important>"
    },
    "CreateNetworkAcl": {
      "name": "CreateNetworkAcl",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateNetworkAclRequest"
      },
      "output": {
        "shape": "CreateNetworkAclResult"
      },
      "documentation": "<p>Creates a network ACL in a VPC. Network ACLs provide an optional layer of security (in addition to security groups) for the instances in your VPC.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/vpc-network-acls.html\">Network ACLs</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "CreateNetworkAclEntry": {
      "name": "CreateNetworkAclEntry",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateNetworkAclEntryRequest"
      },
      "documentation": "<p>Creates an entry (a rule) in a network ACL with the specified rule number. Each network ACL has a set of numbered ingress rules and a separate set of numbered egress rules. When determining whether a packet should be allowed in or out of a subnet associated with the ACL, we process the entries in the ACL according to the rule numbers, in ascending order. Each network ACL has a set of ingress rules and a separate set of egress rules.</p> <p>We recommend that you leave room between the rule numbers (for example, 100, 110, 120, ...), and not number them one right after the other (for example, 101, 102, 103, ...). This makes it easier to add a rule between existing ones without having to renumber the rules.</p> <p>After you add an entry, you can't modify it; you must either replace it, or create an entry and delete the old one.</p> <p>For more information about network ACLs, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/vpc-network-acls.html\">Network ACLs</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "CreateRoute": {
      "name": "CreateRoute",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateRouteRequest"
      },
      "output": {
        "shape": "CreateRouteResult"
      },
      "documentation": "<p>Creates a route in a route table within a VPC.</p> <p>You must specify either a destination CIDR block or a prefix list ID. You must also specify exactly one of the resources from the parameter list.</p> <p>When determining how to route traffic, we use the route with the most specific match. For example, traffic is destined for the IPv4 address <code>192.0.2.3</code>, and the route table includes the following two IPv4 routes:</p> <ul> <li> <p> <code>192.0.2.0/24</code> (goes to some target A)</p> </li> <li> <p> <code>192.0.2.0/28</code> (goes to some target B)</p> </li> </ul> <p>Both routes apply to the traffic destined for <code>192.0.2.3</code>. However, the second route in the list covers a smaller number of IP addresses and is therefore more specific, so we use that route to determine where to target the traffic.</p> <p>For more information about route tables, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Route_Tables.html\">Route tables</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "CreateRouteServer": {
      "name": "CreateRouteServer",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateRouteServerRequest"
      },
      "output": {
        "shape": "CreateRouteServerResult"
      },
      "documentation": "<p>Creates a new route server to manage dynamic routing in a VPC.</p> <p>Amazon VPC Route Server simplifies routing for traffic between workloads that are deployed within a VPC and its internet gateways. With this feature, VPC Route Server dynamically updates VPC and internet gateway route tables with your preferred IPv4 or IPv6 routes to achieve routing fault tolerance for those workloads. This enables you to automatically reroute traffic within a VPC, which increases the manageability of VPC routing and interoperability with third-party workloads.</p> <p>Route server supports the follow route table types:</p> <ul> <li> <p>VPC route tables not associated with subnets</p> </li> <li> <p>Subnet route tables</p> </li> <li> <p>Internet gateway route tables</p> </li> </ul> <p>Route server does not support route tables associated with virtual private gateways. To propagate routes into a transit gateway route table, use <a href=\"https://docs.aws.amazon.com/vpc/latest/tgw/tgw-connect.html\">Transit Gateway Connect</a>.</p> <p>For more information see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/dynamic-routing-route-server.html\">Dynamic routing in your VPC with VPC Route Server</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "CreateRouteServerEndpoint": {
      "name": "CreateRouteServerEndpoint",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateRouteServerEndpointRequest"
      },
      "output": {
        "shape": "CreateRouteServerEndpointResult"
      },
      "documentation": "<p>Creates a new endpoint for a route server in a specified subnet.</p> <p>A route server endpoint is an Amazon Web Services-managed component inside a subnet that facilitates <a href=\"https://en.wikipedia.org/wiki/Border_Gateway_Protocol\">BGP (Border Gateway Protocol)</a> connections between your route server and your BGP peers.</p> <p>For more information see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/dynamic-routing-route-server.html\">Dynamic routing in your VPC with VPC Route Server</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "CreateRouteServerPeer": {
      "name": "CreateRouteServerPeer",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateRouteServerPeerRequest"
      },
      "output": {
        "shape": "CreateRouteServerPeerResult"
      },
      "documentation": "<p>Creates a new BGP peer for a specified route server endpoint.</p> <p>A route server peer is a session between a route server endpoint and the device deployed in Amazon Web Services (such as a firewall appliance or other network security function running on an EC2 instance). The device must meet these requirements:</p> <ul> <li> <p>Have an elastic network interface in the VPC</p> </li> <li> <p>Support BGP (Border Gateway Protocol)</p> </li> <li> <p>Can initiate BGP sessions</p> </li> </ul> <p>For more information see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/dynamic-routing-route-server.html\">Dynamic routing in your VPC with VPC Route Server</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "CreateRouteTable": {
      "name": "CreateRouteTable",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateRouteTableRequest"
      },
      "output": {
        "shape": "CreateRouteTableResult"
      },
      "documentation": "<p>Creates a route table for the specified VPC. After you create a route table, you can add routes and associate the table with a subnet.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Route_Tables.html\">Route tables</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "CreateSecurityGroup": {
      "name": "CreateSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSecurityGroupRequest"
      },
      "output": {
        "shape": "CreateSecurityGroupResult"
      },
      "documentation": "<p>Creates a security group.</p> <p>A security group acts as a virtual firewall for your instance to control inbound and outbound traffic. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-network-security.html\">Amazon EC2 security groups</a> in the <i>Amazon EC2 User Guide</i> and <a href=\"https://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_SecurityGroups.html\">Security groups for your VPC</a> in the <i>Amazon VPC User Guide</i>.</p> <p>When you create a security group, you specify a friendly name of your choice. You can't have two security groups for the same VPC with the same name.</p> <p>You have a default security group for use in your VPC. If you don't specify a security group when you launch an instance, the instance is launched into the appropriate default security group. A default security group includes a default rule that grants instances unrestricted network access to each other.</p> <p>You can add or remove rules from your security groups using <a>AuthorizeSecurityGroupIngress</a>, <a>AuthorizeSecurityGroupEgress</a>, <a>RevokeSecurityGroupIngress</a>, and <a>RevokeSecurityGroupEgress</a>.</p> <p>For more information about VPC security group limits, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/amazon-vpc-limits.html\">Amazon VPC Limits</a>.</p>"
    },
    "CreateSubnet": {
      "name": "CreateSubnet",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSubnetRequest"
      },
      "output": {
        "shape": "CreateSubnetResult"
      },
      "documentation": "<p>Creates a subnet in the specified VPC. For an IPv4 only subnet, specify an IPv4 CIDR block. If the VPC has an IPv6 CIDR block, you can create an IPv6 only subnet or a dual stack subnet instead. For an IPv6 only subnet, specify an IPv6 CIDR block. For a dual stack subnet, specify both an IPv4 CIDR block and an IPv6 CIDR block.</p> <p>A subnet CIDR block must not overlap the CIDR block of an existing subnet in the VPC. After you create a subnet, you can't change its CIDR block.</p> <p>The allowed size for an IPv4 subnet is between a /28 netmask (16 IP addresses) and a /16 netmask (65,536 IP addresses). Amazon Web Services reserves both the first four and the last IPv4 address in each subnet's CIDR block. They're not available for your use.</p> <p>If you've associated an IPv6 CIDR block with your VPC, you can associate an IPv6 CIDR block with a subnet when you create it. </p> <p>If you add more than one subnet to a VPC, they're set up in a star topology with a logical router in the middle.</p> <p>When you stop an instance in a subnet, it retains its private IPv4 address. It's therefore possible to have a subnet with no running instances (they're all stopped), but no remaining IP addresses available.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/configure-subnets.html\">Subnets</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "CreateSubnetCidrReservation": {
      "name": "CreateSubnetCidrReservation",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSubnetCidrReservationRequest"
      },
      "output": {
        "shape": "CreateSubnetCidrReservationResult"
      },
      "documentation": "<p>Creates a subnet CIDR reservation. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/subnet-cidr-reservation.html\">Subnet CIDR reservations</a> in the <i>Amazon VPC User Guide</i> and <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/work-with-prefixes.html\">Manage prefixes for your network interfaces</a> in the <i>Amazon EC2 User Guide</i>.</p>"
    },
    "CreateTransitGateway": {
      "name": "CreateTransitGateway",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTransitGatewayRequest"
      },
      "output": {
        "shape": "CreateTransitGatewayResult"
      },
      "documentation": "<p>Creates a transit gateway.</p> <p>You can use a transit gateway to interconnect your virtual private clouds (VPC) and on-premises networks. After the transit gateway enters the <code>available</code> state, you can attach your VPCs and VPN connections to the transit gateway.</p> <p>To attach your VPCs, use <a>CreateTransitGatewayVpcAttachment</a>.</p> <p>To attach a VPN connection, use <a>CreateCustomerGateway</a> to create a customer gateway and specify the ID of the customer gateway and the ID of the transit gateway in a call to <a>CreateVpnConnection</a>.</p> <p>When you create a transit gateway, we create a default transit gateway route table and use it as the default association route table and the default propagation route table. You can use <a>CreateTransitGatewayRouteTable</a> to create additional transit gateway route tables. If you disable automatic route propagation, we do not create a default transit gateway route table. You can use <a>EnableTransitGatewayRouteTablePropagation</a> to propagate routes from a resource attachment to a transit gateway route table. If you disable automatic associations, you can use <a>AssociateTransitGatewayRouteTable</a> to associate a resource attachment with a transit gateway route table.</p>"
    },
    "CreateTransitGatewayConnect": {
      "name": "CreateTransitGatewayConnect",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTransitGatewayConnectRequest"
      },
      "output": {
        "shape": "CreateTransitGatewayConnectResult"
      },
      "documentation": "<p>Creates a Connect attachment from a specified transit gateway attachment. A Connect attachment is a GRE-based tunnel attachment that you can use to establish a connection between a transit gateway and an appliance.</p> <p>A Connect attachment uses an existing VPC or Amazon Web Services Direct Connect attachment as the underlying transport mechanism.</p>"
    },
    "CreateTransitGatewayConnectPeer": {
      "name": "CreateTransitGatewayConnectPeer",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTransitGatewayConnectPeerRequest"
      },
      "output": {
        "shape": "CreateTransitGatewayConnectPeerResult"
      },
      "documentation": "<p>Creates a Connect peer for a specified transit gateway Connect attachment between a transit gateway and an appliance.</p> <p>The peer address and transit gateway address must be the same IP address family (IPv4 or IPv6).</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/tgw/tgw-connect.html#tgw-connect-peer\">Connect peers</a> in the <i>Amazon Web Services Transit Gateways Guide</i>.</p>"
    },
    "CreateTransitGatewayMeteringPolicy": {
      "name": "CreateTransitGatewayMeteringPolicy",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTransitGatewayMeteringPolicyRequest"
      },
      "output": {
        "shape": "CreateTransitGatewayMeteringPolicyResult"
      },
      "documentation": "<p>Creates a metering policy for a transit gateway to track and measure network traffic.</p>"
    },
    "CreateTransitGatewayMeteringPolicyEntry": {
      "name": "CreateTransitGatewayMeteringPolicyEntry",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTransitGatewayMeteringPolicyEntryRequest"
      },
      "output": {
        "shape": "CreateTransitGatewayMeteringPolicyEntryResult"
      },
      "documentation": "<p>Creates an entry in a transit gateway metering policy to define traffic measurement rules.</p>"
    },
    "CreateTransitGatewayMulticastDomain": {
      "name": "CreateTransitGatewayMulticastDomain",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTransitGatewayMulticastDomainRequest"
      },
      "output": {
        "shape": "CreateTransitGatewayMulticastDomainResult"
      },
      "documentation": "<p>Creates a multicast domain using the specified transit gateway.</p> <p>The transit gateway must be in the available state before you create a domain. Use <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeTransitGateways.html\">DescribeTransitGateways</a> to see the state of transit gateway.</p>"
    },
    "CreateTransitGatewayPeeringAttachment": {
      "name": "CreateTransitGatewayPeeringAttachment",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTransitGatewayPeeringAttachmentRequest"
      },
      "output": {
        "shape": "CreateTransitGatewayPeeringAttachmentResult"
      },
      "documentation": "<p>Requests a transit gateway peering attachment between the specified transit gateway (requester) and a peer transit gateway (accepter). The peer transit gateway can be in your account or a different Amazon Web Services account.</p> <p>After you create the peering attachment, the owner of the accepter transit gateway must accept the attachment request.</p>"
    },
    "CreateTransitGatewayPolicyTable": {
      "name": "CreateTransitGatewayPolicyTable",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTransitGatewayPolicyTableRequest"
      },
      "output": {
        "shape": "CreateTransitGatewayPolicyTableResult"
      },
      "documentation": "<p>Creates a transit gateway policy table.</p>"
    },
    "CreateTransitGatewayPrefixListReference": {
      "name": "CreateTransitGatewayPrefixListReference",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTransitGatewayPrefixListReferenceRequest"
      },
      "output": {
        "shape": "CreateTransitGatewayPrefixListReferenceResult"
      },
      "documentation": "<p>Creates a reference (route) to a prefix list in a specified transit gateway route table.</p>"
    },
    "CreateTransitGatewayRoute": {
      "name": "CreateTransitGatewayRoute",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTransitGatewayRouteRequest"
      },
      "output": {
        "shape": "CreateTransitGatewayRouteResult"
      },
      "documentation": "<p>Creates a static route for the specified transit gateway route table.</p>"
    },
    "CreateTransitGatewayRouteTable": {
      "name": "CreateTransitGatewayRouteTable",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTransitGatewayRouteTableRequest"
      },
      "output": {
        "shape": "CreateTransitGatewayRouteTableResult"
      },
      "documentation": "<p>Creates a route table for the specified transit gateway.</p>"
    },
    "CreateTransitGatewayRouteTableAnnouncement": {
      "name": "CreateTransitGatewayRouteTableAnnouncement",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTransitGatewayRouteTableAnnouncementRequest"
      },
      "output": {
        "shape": "CreateTransitGatewayRouteTableAnnouncementResult"
      },
      "documentation": "<p>Advertises a new transit gateway route table.</p>"
    },
    "CreateTransitGatewayVpcAttachment": {
      "name": "CreateTransitGatewayVpcAttachment",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTransitGatewayVpcAttachmentRequest"
      },
      "output": {
        "shape": "CreateTransitGatewayVpcAttachmentResult"
      },
      "documentation": "<p>Attaches the specified VPC to the specified transit gateway.</p> <p>If you attach a VPC with a CIDR range that overlaps the CIDR range of a VPC that is already attached, the new VPC CIDR range is not propagated to the default propagation route table.</p> <p>To send VPC traffic to an attached transit gateway, add a route to the VPC route table using <a>CreateRoute</a>.</p>"
    },
    "CreateVpc": {
      "name": "CreateVpc",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateVpcRequest"
      },
      "output": {
        "shape": "CreateVpcResult"
      },
      "documentation": "<p>Creates a VPC with the specified CIDR blocks.</p> <p>A VPC must have an associated IPv4 CIDR block. You can choose an IPv4 CIDR block or an IPAM-allocated IPv4 CIDR block. You can optionally associate an IPv6 CIDR block with a VPC. You can choose an IPv6 CIDR block, an Amazon-provided IPv6 CIDR block, an IPAM-allocated IPv6 CIDR block, or an IPv6 CIDR block that you brought to Amazon Web Services. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/vpc-ip-addressing.html\">IP addressing for your VPCs and subnets</a> in the <i>Amazon VPC User Guide</i>.</p> <p>By default, each instance that you launch in the VPC has the default DHCP options, which include only a default DNS server that we provide (AmazonProvidedDNS). For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/VPC_DHCP_Options.html\">DHCP option sets</a> in the <i>Amazon VPC User Guide</i>.</p> <p>You can specify DNS options and tenancy for a VPC when you create it. You can't change the tenancy of a VPC after you create it. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/create-vpc-options.html\">VPC configuration options</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "CreateVpcBlockPublicAccessExclusion": {
      "name": "CreateVpcBlockPublicAccessExclusion",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateVpcBlockPublicAccessExclusionRequest"
      },
      "output": {
        "shape": "CreateVpcBlockPublicAccessExclusionResult"
      },
      "documentation": "<p>Create a VPC Block Public Access (BPA) exclusion. A VPC BPA exclusion is a mode that can be applied to a single VPC or subnet that exempts it from the account\u2019s BPA mode and will allow bidirectional or egress-only access. You can create BPA exclusions for VPCs and subnets even when BPA is not enabled on the account to ensure that there is no traffic disruption to the exclusions when VPC BPA is turned on. To learn more about VPC BPA, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/security-vpc-bpa.html\">Block public access to VPCs and subnets</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "CreateVpcEncryptionControl": {
      "name": "CreateVpcEncryptionControl",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateVpcEncryptionControlRequest"
      },
      "output": {
        "shape": "CreateVpcEncryptionControlResult"
      },
      "documentation": "<p>Creates a VPC Encryption Control configuration for a specified VPC. VPC Encryption Control enables you to enforce encryption for all data in transit within and between VPCs to meet compliance requirements for standards like HIPAA, FedRAMP, and PCI DSS.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/vpc-encryption-controls.html\">Enforce VPC encryption in transit</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "CreateVpcEndpoint": {
      "name": "CreateVpcEndpoint",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateVpcEndpointRequest"
      },
      "output": {
        "shape": "CreateVpcEndpointResult"
      },
      "documentation": "<p>Creates a VPC endpoint. A VPC endpoint provides a private connection between the specified VPC and the specified endpoint service. You can use an endpoint service provided by Amazon Web Services, an Amazon Web Services Marketplace Partner, or another Amazon Web Services account. For more information, see the <a href=\"https://docs.aws.amazon.com/vpc/latest/privatelink/\">Amazon Web Services PrivateLink User Guide</a>.</p>"
    },
    "CreateVpcEndpointConnectionNotification": {
      "name": "CreateVpcEndpointConnectionNotification",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateVpcEndpointConnectionNotificationRequest"
      },
      "output": {
        "shape": "CreateVpcEndpointConnectionNotificationResult"
      },
      "documentation": "<p>Creates a connection notification for a specified VPC endpoint or VPC endpoint service. A connection notification notifies you of specific endpoint events. You must create an SNS topic to receive notifications. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/CreateTopic.html\">Creating an Amazon SNS topic</a> in the <i>Amazon SNS Developer Guide</i>.</p> <p>You can create a connection notification for interface endpoints only.</p>"
    },
    "CreateVpcEndpointServiceConfiguration": {
      "name": "CreateVpcEndpointServiceConfiguration",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateVpcEndpointServiceConfigurationRequest"
      },
      "output": {
        "shape": "CreateVpcEndpointServiceConfigurationResult"
      },
      "documentation": "<p>Creates a VPC endpoint service to which service consumers (Amazon Web Services accounts, users, and IAM roles) can connect.</p> <p>Before you create an endpoint service, you must create one of the following for your service:</p> <ul> <li> <p>A <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/\">Network Load Balancer</a>. Service consumers connect to your service using an interface endpoint.</p> </li> <li> <p>A <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/gateway/\">Gateway Load Balancer</a>. Service consumers connect to your service using a Gateway Load Balancer endpoint.</p> </li> </ul> <p>If you set the private DNS name, you must prove that you own the private DNS domain name.</p> <p>For more information, see the <a href=\"https://docs.aws.amazon.com/vpc/latest/privatelink/\">Amazon Web Services PrivateLink Guide</a>.</p>"
    },
    "CreateVpcPeeringConnection": {
      "name": "CreateVpcPeeringConnection",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateVpcPeeringConnectionRequest"
      },
      "output": {
        "shape": "CreateVpcPeeringConnectionResult"
      },
      "documentation": "<p>Requests a VPC peering connection between two VPCs: a requester VPC that you own and an accepter VPC with which to create the connection. The accepter VPC can belong to another Amazon Web Services account and can be in a different Region to the requester VPC. The requester VPC and accepter VPC cannot have overlapping CIDR blocks.</p> <note> <p>Limitations and rules apply to a VPC peering connection. For more information, see the <a href=\"https://docs.aws.amazon.com/vpc/latest/peering/vpc-peering-basics.html#vpc-peering-limitations\">VPC peering limitations</a> in the <i>VPC Peering Guide</i>.</p> </note> <p>The owner of the accepter VPC must accept the peering request to activate the peering connection. The VPC peering connection request expires after 7 days, after which it cannot be accepted or rejected.</p> <p>If you create a VPC peering connection request between VPCs with overlapping CIDR blocks, the VPC peering connection has a status of <code>failed</code>.</p>"
    },
    "CreateVpnConnectionRoute": {
      "name": "CreateVpnConnectionRoute",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateVpnConnectionRouteRequest"
      },
      "documentation": "<p>Creates a static route associated with a VPN connection between an existing virtual private gateway and a VPN customer gateway. The static route allows traffic to be routed from the virtual private gateway to the VPN customer gateway.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpn/latest/s2svpn/VPC_VPN.html\">Amazon Web Services Site-to-Site VPN</a> in the <i>Amazon Web Services Site-to-Site VPN User Guide</i>.</p>"
    },
    "CreateVpnGateway": {
      "name": "CreateVpnGateway",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateVpnGatewayRequest"
      },
      "output": {
        "shape": "CreateVpnGatewayResult"
      },
      "documentation": "<p>Creates a virtual private gateway. A virtual private gateway is the endpoint on the VPC side of your VPN connection. You can create a virtual private gateway before creating the VPC itself.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpn/latest/s2svpn/VPC_VPN.html\">Amazon Web Services Site-to-Site VPN</a> in the <i>Amazon Web Services Site-to-Site VPN User Guide</i>.</p>"
    },
    "DeleteClientVpnRoute": {
      "name": "DeleteClientVpnRoute",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteClientVpnRouteRequest"
      },
      "output": {
        "shape": "DeleteClientVpnRouteResult"
      },
      "documentation": "<p>Deletes a route from a Client VPN endpoint. You can only delete routes that you manually added using the <b>CreateClientVpnRoute</b> action. You cannot delete routes that were automatically added when associating a subnet. To remove routes that have been automatically added, disassociate the target subnet from the Client VPN endpoint.</p>"
    },
    "DeleteCustomerGateway": {
      "name": "DeleteCustomerGateway",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteCustomerGatewayRequest"
      },
      "documentation": "<p>Deletes the specified customer gateway. You must delete the VPN connection before you can delete the customer gateway.</p>"
    },
    "DeleteDhcpOptions": {
      "name": "DeleteDhcpOptions",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDhcpOptionsRequest"
      },
      "documentation": "<p>Deletes the specified set of DHCP options. You must disassociate the set of DHCP options before you can delete it. You can disassociate the set of DHCP options by associating either a new set of options or the default set of options with the VPC.</p>"
    },
    "DeleteEgressOnlyInternetGateway": {
      "name": "DeleteEgressOnlyInternetGateway",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEgressOnlyInternetGatewayRequest"
      },
      "output": {
        "shape": "DeleteEgressOnlyInternetGatewayResult"
      },
      "documentation": "<p>Deletes an egress-only internet gateway.</p>"
    },
    "DeleteFlowLogs": {
      "name": "DeleteFlowLogs",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteFlowLogsRequest"
      },
      "output": {
        "shape": "DeleteFlowLogsResult"
      },
      "documentation": "<p>Deletes one or more flow logs.</p>"
    },
    "DeleteInternetGateway": {
      "name": "DeleteInternetGateway",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteInternetGatewayRequest"
      },
      "documentation": "<p>Deletes the specified internet gateway. You must detach the internet gateway from the VPC before you can delete it.</p>"
    },
    "DeleteLocalGatewayRoute": {
      "name": "DeleteLocalGatewayRoute",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteLocalGatewayRouteRequest"
      },
      "output": {
        "shape": "DeleteLocalGatewayRouteResult"
      },
      "documentation": "<p>Deletes the specified route from the specified local gateway route table.</p>"
    },
    "DeleteLocalGatewayRouteTable": {
      "name": "DeleteLocalGatewayRouteTable",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteLocalGatewayRouteTableRequest"
      },
      "output": {
        "shape": "DeleteLocalGatewayRouteTableResult"
      },
      "documentation": "<p> Deletes a local gateway route table. </p>"
    },
    "DeleteLocalGatewayRouteTableVirtualInterfaceGroupAssociation": {
      "name": "DeleteLocalGatewayRouteTableVirtualInterfaceGroupAssociation",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteLocalGatewayRouteTableVirtualInterfaceGroupAssociationRequest"
      },
      "output": {
        "shape": "DeleteLocalGatewayRouteTableVirtualInterfaceGroupAssociationResult"
      },
      "documentation": "<p> Deletes a local gateway route table virtual interface group association. </p>"
    },
    "DeleteLocalGatewayRouteTableVpcAssociation": {
      "name": "DeleteLocalGatewayRouteTableVpcAssociation",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteLocalGatewayRouteTableVpcAssociationRequest"
      },
      "output": {
        "shape": "DeleteLocalGatewayRouteTableVpcAssociationResult"
      },
      "documentation": "<p>Deletes the specified association between a VPC and local gateway route table.</p>"
    },
    "DeleteNatGateway": {
      "name": "DeleteNatGateway",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteNatGatewayRequest"
      },
      "output": {
        "shape": "DeleteNatGatewayResult"
      },
      "documentation": "<p>Deletes the specified NAT gateway. Deleting a public NAT gateway disassociates its Elastic IP address, but does not release the address from your account. Deleting a NAT gateway does not delete any NAT gateway routes in your route tables.</p>"
    },
    "DeleteNetworkAcl": {
      "name": "DeleteNetworkAcl",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteNetworkAclRequest"
      },
      "documentation": "<p>Deletes the specified network ACL. You can't delete the ACL if it's associated with any subnets. You can't delete the default network ACL.</p>"
    },
    "DeleteNetworkAclEntry": {
      "name": "DeleteNetworkAclEntry",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteNetworkAclEntryRequest"
      },
      "documentation": "<p>Deletes the specified ingress or egress entry (rule) from the specified network ACL.</p>"
    },
    "DeleteRoute": {
      "name": "DeleteRoute",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRouteRequest"
      },
      "documentation": "<p>Deletes the specified route from the specified route table.</p>"
    },
    "DeleteRouteServer": {
      "name": "DeleteRouteServer",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRouteServerRequest"
      },
      "output": {
        "shape": "DeleteRouteServerResult"
      },
      "documentation": "<p>Deletes the specified route server.</p> <p>Amazon VPC Route Server simplifies routing for traffic between workloads that are deployed within a VPC and its internet gateways. With this feature, VPC Route Server dynamically updates VPC and internet gateway route tables with your preferred IPv4 or IPv6 routes to achieve routing fault tolerance for those workloads. This enables you to automatically reroute traffic within a VPC, which increases the manageability of VPC routing and interoperability with third-party workloads.</p> <p>Route server supports the follow route table types:</p> <ul> <li> <p>VPC route tables not associated with subnets</p> </li> <li> <p>Subnet route tables</p> </li> <li> <p>Internet gateway route tables</p> </li> </ul> <p>Route server does not support route tables associated with virtual private gateways. To propagate routes into a transit gateway route table, use <a href=\"https://docs.aws.amazon.com/vpc/latest/tgw/tgw-connect.html\">Transit Gateway Connect</a>.</p> <p>For more information see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/dynamic-routing-route-server.html\">Dynamic routing in your VPC with VPC Route Server</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "DeleteRouteServerEndpoint": {
      "name": "DeleteRouteServerEndpoint",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRouteServerEndpointRequest"
      },
      "output": {
        "shape": "DeleteRouteServerEndpointResult"
      },
      "documentation": "<p>Deletes the specified route server endpoint.</p> <p>A route server endpoint is an Amazon Web Services-managed component inside a subnet that facilitates <a href=\"https://en.wikipedia.org/wiki/Border_Gateway_Protocol\">BGP (Border Gateway Protocol)</a> connections between your route server and your BGP peers.</p>"
    },
    "DeleteRouteServerPeer": {
      "name": "DeleteRouteServerPeer",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRouteServerPeerRequest"
      },
      "output": {
        "shape": "DeleteRouteServerPeerResult"
      },
      "documentation": "<p>Deletes the specified BGP peer from a route server.</p> <p>A route server peer is a session between a route server endpoint and the device deployed in Amazon Web Services (such as a firewall appliance or other network security function running on an EC2 instance). The device must meet these requirements:</p> <ul> <li> <p>Have an elastic network interface in the VPC</p> </li> <li> <p>Support BGP (Border Gateway Protocol)</p> </li> <li> <p>Can initiate BGP sessions</p> </li> </ul>"
    },
    "DeleteRouteTable": {
      "name": "DeleteRouteTable",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRouteTableRequest"
      },
      "documentation": "<p>Deletes the specified route table. You must disassociate the route table from any subnets before you can delete it. You can't delete the main route table.</p>"
    },
    "DeleteSecurityGroup": {
      "name": "DeleteSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSecurityGroupRequest"
      },
      "output": {
        "shape": "DeleteSecurityGroupResult"
      },
      "documentation": "<p>Deletes a security group.</p> <p>If you attempt to delete a security group that is associated with an instance or network interface, is referenced by another security group in the same VPC, or has a VPC association, the operation fails with <code>DependencyViolation</code>.</p>"
    },
    "DeleteSubnet": {
      "name": "DeleteSubnet",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSubnetRequest"
      },
      "documentation": "<p>Deletes the specified subnet. You must terminate all running instances in the subnet before you can delete the subnet.</p>"
    },
    "DeleteSubnetCidrReservation": {
      "name": "DeleteSubnetCidrReservation",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSubnetCidrReservationRequest"
      },
      "output": {
        "shape": "DeleteSubnetCidrReservationResult"
      },
      "documentation": "<p>Deletes a subnet CIDR reservation.</p>"
    },
    "DeleteTransitGateway": {
      "name": "DeleteTransitGateway",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTransitGatewayRequest"
      },
      "output": {
        "shape": "DeleteTransitGatewayResult"
      },
      "documentation": "<p>Deletes the specified transit gateway.</p>"
    },
    "DeleteTransitGatewayConnect": {
      "name": "DeleteTransitGatewayConnect",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTransitGatewayConnectRequest"
      },
      "output": {
        "shape": "DeleteTransitGatewayConnectResult"
      },
      "documentation": "<p>Deletes the specified Connect attachment. You must first delete any Connect peers for the attachment.</p>"
    },
    "DeleteTransitGatewayConnectPeer": {
      "name": "DeleteTransitGatewayConnectPeer",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTransitGatewayConnectPeerRequest"
      },
      "output": {
        "shape": "DeleteTransitGatewayConnectPeerResult"
      },
      "documentation": "<p>Deletes the specified Connect peer.</p>"
    },
    "DeleteTransitGatewayMeteringPolicy": {
      "name": "DeleteTransitGatewayMeteringPolicy",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTransitGatewayMeteringPolicyRequest"
      },
      "output": {
        "shape": "DeleteTransitGatewayMeteringPolicyResult"
      },
      "documentation": "<p>Deletes a transit gateway metering policy.</p>"
    },
    "DeleteTransitGatewayMeteringPolicyEntry": {
      "name": "DeleteTransitGatewayMeteringPolicyEntry",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTransitGatewayMeteringPolicyEntryRequest"
      },
      "output": {
        "shape": "DeleteTransitGatewayMeteringPolicyEntryResult"
      },
      "documentation": "<p>Deletes an entry from a transit gateway metering policy.</p>"
    },
    "DeleteTransitGatewayMulticastDomain": {
      "name": "DeleteTransitGatewayMulticastDomain",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTransitGatewayMulticastDomainRequest"
      },
      "output": {
        "shape": "DeleteTransitGatewayMulticastDomainResult"
      },
      "documentation": "<p>Deletes the specified transit gateway multicast domain.</p>"
    },
    "DeleteTransitGatewayPeeringAttachment": {
      "name": "DeleteTransitGatewayPeeringAttachment",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTransitGatewayPeeringAttachmentRequest"
      },
      "output": {
        "shape": "DeleteTransitGatewayPeeringAttachmentResult"
      },
      "documentation": "<p>Deletes a transit gateway peering attachment.</p>"
    },
    "DeleteTransitGatewayPolicyTable": {
      "name": "DeleteTransitGatewayPolicyTable",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTransitGatewayPolicyTableRequest"
      },
      "output": {
        "shape": "DeleteTransitGatewayPolicyTableResult"
      },
      "documentation": "<p>Deletes the specified transit gateway policy table.</p>"
    },
    "DeleteTransitGatewayPrefixListReference": {
      "name": "DeleteTransitGatewayPrefixListReference",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTransitGatewayPrefixListReferenceRequest"
      },
      "output": {
        "shape": "DeleteTransitGatewayPrefixListReferenceResult"
      },
      "documentation": "<p>Deletes a reference (route) to a prefix list in a specified transit gateway route table.</p>"
    },
    "DeleteTransitGatewayRoute": {
      "name": "DeleteTransitGatewayRoute",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTransitGatewayRouteRequest"
      },
      "output": {
        "shape": "DeleteTransitGatewayRouteResult"
      },
      "documentation": "<p>Deletes the specified route from the specified transit gateway route table.</p>"
    },
    "DeleteTransitGatewayRouteTable": {
      "name": "DeleteTransitGatewayRouteTable",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTransitGatewayRouteTableRequest"
      },
      "output": {
        "shape": "DeleteTransitGatewayRouteTableResult"
      },
      "documentation": "<p>Deletes the specified transit gateway route table. If there are any route tables associated with the transit gateway route table, you must first run <a>DisassociateRouteTable</a> before you can delete the transit gateway route table. This removes any route tables associated with the transit gateway route table.</p>"
    },
    "DeleteTransitGatewayRouteTableAnnouncement": {
      "name": "DeleteTransitGatewayRouteTableAnnouncement",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTransitGatewayRouteTableAnnouncementRequest"
      },
      "output": {
        "shape": "DeleteTransitGatewayRouteTableAnnouncementResult"
      },
      "documentation": "<p>Advertises to the transit gateway that a transit gateway route table is deleted.</p>"
    },
    "DeleteTransitGatewayVpcAttachment": {
      "name": "DeleteTransitGatewayVpcAttachment",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTransitGatewayVpcAttachmentRequest"
      },
      "output": {
        "shape": "DeleteTransitGatewayVpcAttachmentResult"
      },
      "documentation": "<p>Deletes the specified VPC attachment.</p>"
    },
    "DeleteVpc": {
      "name": "DeleteVpc",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteVpcRequest"
      },
      "documentation": "<p>Deletes the specified VPC. You must detach or delete all gateways and resources that are associated with the VPC before you can delete it. For example, you must terminate all instances running in the VPC, delete all security groups associated with the VPC (except the default one), delete all route tables associated with the VPC (except the default one), and so on. When you delete the VPC, it deletes the default security group, network ACL, and route table for the VPC.</p> <p>If you created a flow log for the VPC that you are deleting, note that flow logs for deleted VPCs are eventually automatically removed.</p>"
    },
    "DeleteVpcBlockPublicAccessExclusion": {
      "name": "DeleteVpcBlockPublicAccessExclusion",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteVpcBlockPublicAccessExclusionRequest"
      },
      "output": {
        "shape": "DeleteVpcBlockPublicAccessExclusionResult"
      },
      "documentation": "<p>Delete a VPC Block Public Access (BPA) exclusion. A VPC BPA exclusion is a mode that can be applied to a single VPC or subnet that exempts it from the account\u2019s BPA mode and will allow bidirectional or egress-only access. You can create BPA exclusions for VPCs and subnets even when BPA is not enabled on the account to ensure that there is no traffic disruption to the exclusions when VPC BPA is turned on. To learn more about VPC BPA, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/security-vpc-bpa.html\">Block public access to VPCs and subnets</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "DeleteVpcEncryptionControl": {
      "name": "DeleteVpcEncryptionControl",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteVpcEncryptionControlRequest"
      },
      "output": {
        "shape": "DeleteVpcEncryptionControlResult"
      },
      "documentation": "<p>Deletes a VPC Encryption Control configuration. This removes the encryption policy enforcement from the specified VPC.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/vpc-encryption-controls.html\">Enforce VPC encryption in transit</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "DeleteVpcEndpointConnectionNotifications": {
      "name": "DeleteVpcEndpointConnectionNotifications",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteVpcEndpointConnectionNotificationsRequest"
      },
      "output": {
        "shape": "DeleteVpcEndpointConnectionNotificationsResult"
      },
      "documentation": "<p>Deletes the specified VPC endpoint connection notifications.</p>"
    },
    "DeleteVpcEndpointServiceConfigurations": {
      "name": "DeleteVpcEndpointServiceConfigurations",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteVpcEndpointServiceConfigurationsRequest"
      },
      "output": {
        "shape": "DeleteVpcEndpointServiceConfigurationsResult"
      },
      "documentation": "<p>Deletes the specified VPC endpoint service configurations. Before you can delete an endpoint service configuration, you must reject any <code>Available</code> or <code>PendingAcceptance</code> interface endpoint connections that are attached to the service.</p>"
    },
    "DeleteVpcEndpoints": {
      "name": "DeleteVpcEndpoints",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteVpcEndpointsRequest"
      },
      "output": {
        "shape": "DeleteVpcEndpointsResult"
      },
      "documentation": "<p>Deletes the specified VPC endpoints.</p> <p>When you delete a gateway endpoint, we delete the endpoint routes in the route tables for the endpoint.</p> <p>When you delete a Gateway Load Balancer endpoint, we delete its endpoint network interfaces. You can only delete Gateway Load Balancer endpoints when the routes that are associated with the endpoint are deleted.</p> <p>When you delete an interface endpoint, we delete its endpoint network interfaces.</p>"
    },
    "DeleteVpcPeeringConnection": {
      "name": "DeleteVpcPeeringConnection",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteVpcPeeringConnectionRequest"
      },
      "output": {
        "shape": "DeleteVpcPeeringConnectionResult"
      },
      "documentation": "<p>Deletes a VPC peering connection. Either the owner of the requester VPC or the owner of the accepter VPC can delete the VPC peering connection if it's in the <code>active</code> state. The owner of the requester VPC can delete a VPC peering connection in the <code>pending-acceptance</code> state. You cannot delete a VPC peering connection that's in the <code>failed</code> or <code>rejected</code> state.</p>"
    },
    "DeleteVpnConnectionRoute": {
      "name": "DeleteVpnConnectionRoute",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteVpnConnectionRouteRequest"
      },
      "documentation": "<p>Deletes the specified static route associated with a VPN connection between an existing virtual private gateway and a VPN customer gateway. The static route allows traffic to be routed from the virtual private gateway to the VPN customer gateway.</p>"
    },
    "DeleteVpnGateway": {
      "name": "DeleteVpnGateway",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteVpnGatewayRequest"
      },
      "documentation": "<p>Deletes the specified virtual private gateway. You must first detach the virtual private gateway from the VPC. Note that you don't need to delete the virtual private gateway if you plan to delete and recreate the VPN connection between your VPC and your network.</p>"
    },
    "DeregisterTransitGatewayMulticastGroupMembers": {
      "name": "DeregisterTransitGatewayMulticastGroupMembers",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeregisterTransitGatewayMulticastGroupMembersRequest"
      },
      "output": {
        "shape": "DeregisterTransitGatewayMulticastGroupMembersResult"
      },
      "documentation": "<p>Deregisters the specified members (network interfaces) from the transit gateway multicast group.</p>"
    },
    "DeregisterTransitGatewayMulticastGroupSources": {
      "name": "DeregisterTransitGatewayMulticastGroupSources",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeregisterTransitGatewayMulticastGroupSourcesRequest"
      },
      "output": {
        "shape": "DeregisterTransitGatewayMulticastGroupSourcesResult"
      },
      "documentation": "<p>Deregisters the specified sources (network interfaces) from the transit gateway multicast group.</p>"
    },
    "DescribeClassicLinkInstances": {
      "name": "DescribeClassicLinkInstances",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeClassicLinkInstancesRequest"
      },
      "output": {
        "shape": "DescribeClassicLinkInstancesResult"
      },
      "documentation": "<note> <p>This action is deprecated.</p> </note> <p>Describes your linked EC2-Classic instances. This request only returns information about EC2-Classic instances linked to a VPC through ClassicLink. You cannot use this request to return information about other instances.</p>"
    },
    "DescribeClientVpnRoutes": {
      "name": "DescribeClientVpnRoutes",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeClientVpnRoutesRequest"
      },
      "output": {
        "shape": "DescribeClientVpnRoutesResult"
      },
      "documentation": "<p>Describes the routes for the specified Client VPN endpoint.</p>"
    },
    "DescribeCustomerGateways": {
      "name": "DescribeCustomerGateways",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCustomerGatewaysRequest"
      },
      "output": {
        "shape": "DescribeCustomerGatewaysResult"
      },
      "documentation": "<p>Describes one or more of your VPN customer gateways.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpn/latest/s2svpn/VPC_VPN.html\">Amazon Web Services Site-to-Site VPN</a> in the <i>Amazon Web Services Site-to-Site VPN User Guide</i>.</p>"
    },
    "DescribeDhcpOptions": {
      "name": "DescribeDhcpOptions",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDhcpOptionsRequest"
      },
      "output": {
        "shape": "DescribeDhcpOptionsResult"
      },
      "documentation": "<p>Describes your DHCP option sets. The default is to describe all your DHCP option sets. Alternatively, you can specify specific DHCP option set IDs or filter the results to include only the DHCP option sets that match specific criteria.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/VPC_DHCP_Options.html\">DHCP option sets</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "DescribeEgressOnlyInternetGateways": {
      "name": "DescribeEgressOnlyInternetGateways",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEgressOnlyInternetGatewaysRequest"
      },
      "output": {
        "shape": "DescribeEgressOnlyInternetGatewaysResult"
      },
      "documentation": "<p>Describes your egress-only internet gateways. The default is to describe all your egress-only internet gateways. Alternatively, you can specify specific egress-only internet gateway IDs or filter the results to include only the egress-only internet gateways that match specific criteria.</p>"
    },
    "DescribeFlowLogs": {
      "name": "DescribeFlowLogs",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeFlowLogsRequest"
      },
      "output": {
        "shape": "DescribeFlowLogsResult"
      },
      "documentation": "<p>Describes one or more flow logs.</p> <p>To view the published flow log records, you must view the log destination. For example, the CloudWatch Logs log group, the Amazon S3 bucket, or the Kinesis Data Firehose delivery stream.</p>"
    },
    "DescribeInternetGateways": {
      "name": "DescribeInternetGateways",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeInternetGatewaysRequest"
      },
      "output": {
        "shape": "DescribeInternetGatewaysResult"
      },
      "documentation": "<p>Describes your internet gateways. The default is to describe all your internet gateways. Alternatively, you can specify specific internet gateway IDs or filter the results to include only the internet gateways that match specific criteria.</p>"
    },
    "DescribeIpv6Pools": {
      "name": "DescribeIpv6Pools",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeIpv6PoolsRequest"
      },
      "output": {
        "shape": "DescribeIpv6PoolsResult"
      },
      "documentation": "<p>Describes your IPv6 address pools.</p>"
    },
    "DescribeLocalGatewayRouteTableVirtualInterfaceGroupAssociations": {
      "name": "DescribeLocalGatewayRouteTableVirtualInterfaceGroupAssociations",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeLocalGatewayRouteTableVirtualInterfaceGroupAssociationsRequest"
      },
      "output": {
        "shape": "DescribeLocalGatewayRouteTableVirtualInterfaceGroupAssociationsResult"
      },
      "documentation": "<p>Describes the associations between virtual interface groups and local gateway route tables.</p>"
    },
    "DescribeLocalGatewayRouteTableVpcAssociations": {
      "name": "DescribeLocalGatewayRouteTableVpcAssociations",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeLocalGatewayRouteTableVpcAssociationsRequest"
      },
      "output": {
        "shape": "DescribeLocalGatewayRouteTableVpcAssociationsResult"
      },
      "documentation": "<p>Describes the specified associations between VPCs and local gateway route tables.</p>"
    },
    "DescribeLocalGatewayRouteTables": {
      "name": "DescribeLocalGatewayRouteTables",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeLocalGatewayRouteTablesRequest"
      },
      "output": {
        "shape": "DescribeLocalGatewayRouteTablesResult"
      },
      "documentation": "<p>Describes one or more local gateway route tables. By default, all local gateway route tables are described. Alternatively, you can filter the results.</p>"
    },
    "DescribeNatGateways": {
      "name": "DescribeNatGateways",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeNatGatewaysRequest"
      },
      "output": {
        "shape": "DescribeNatGatewaysResult"
      },
      "documentation": "<p>Describes your NAT gateways. The default is to describe all your NAT gateways. Alternatively, you can specify specific NAT gateway IDs or filter the results to include only the NAT gateways that match specific criteria.</p>"
    },
    "DescribeNetworkAcls": {
      "name": "DescribeNetworkAcls",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeNetworkAclsRequest"
      },
      "output": {
        "shape": "DescribeNetworkAclsResult"
      },
      "documentation": "<p>Describes your network ACLs. The default is to describe all your network ACLs. Alternatively, you can specify specific network ACL IDs or filter the results to include only the network ACLs that match specific criteria.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/vpc-network-acls.html\">Network ACLs</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "DescribeRouteServerEndpoints": {
      "name": "DescribeRouteServerEndpoints",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeRouteServerEndpointsRequest"
      },
      "output": {
        "shape": "DescribeRouteServerEndpointsResult"
      },
      "documentation": "<p>Describes one or more route server endpoints.</p> <p>A route server endpoint is an Amazon Web Services-managed component inside a subnet that facilitates <a href=\"https://en.wikipedia.org/wiki/Border_Gateway_Protocol\">BGP (Border Gateway Protocol)</a> connections between your route server and your BGP peers.</p> <p>For more information see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/dynamic-routing-route-server.html\">Dynamic routing in your VPC with VPC Route Server</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "DescribeRouteServerPeers": {
      "name": "DescribeRouteServerPeers",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeRouteServerPeersRequest"
      },
      "output": {
        "shape": "DescribeRouteServerPeersResult"
      },
      "documentation": "<p>Describes one or more route server peers.</p> <p>A route server peer is a session between a route server endpoint and the device deployed in Amazon Web Services (such as a firewall appliance or other network security function running on an EC2 instance). The device must meet these requirements:</p> <ul> <li> <p>Have an elastic network interface in the VPC</p> </li> <li> <p>Support BGP (Border Gateway Protocol)</p> </li> <li> <p>Can initiate BGP sessions</p> </li> </ul> <p>For more information see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/dynamic-routing-route-server.html\">Dynamic routing in your VPC with VPC Route Server</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "DescribeRouteServers": {
      "name": "DescribeRouteServers",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeRouteServersRequest"
      },
      "output": {
        "shape": "DescribeRouteServersResult"
      },
      "documentation": "<p>Describes one or more route servers.</p> <p>Amazon VPC Route Server simplifies routing for traffic between workloads that are deployed within a VPC and its internet gateways. With this feature, VPC Route Server dynamically updates VPC and internet gateway route tables with your preferred IPv4 or IPv6 routes to achieve routing fault tolerance for those workloads. This enables you to automatically reroute traffic within a VPC, which increases the manageability of VPC routing and interoperability with third-party workloads.</p> <p>Route server supports the follow route table types:</p> <ul> <li> <p>VPC route tables not associated with subnets</p> </li> <li> <p>Subnet route tables</p> </li> <li> <p>Internet gateway route tables</p> </li> </ul> <p>Route server does not support route tables associated with virtual private gateways. To propagate routes into a transit gateway route table, use <a href=\"https://docs.aws.amazon.com/vpc/latest/tgw/tgw-connect.html\">Transit Gateway Connect</a>.</p> <p>For more information see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/dynamic-routing-route-server.html\">Dynamic routing in your VPC with VPC Route Server</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "DescribeRouteTables": {
      "name": "DescribeRouteTables",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeRouteTablesRequest"
      },
      "output": {
        "shape": "DescribeRouteTablesResult"
      },
      "documentation": "<p>Describes your route tables. The default is to describe all your route tables. Alternatively, you can specify specific route table IDs or filter the results to include only the route tables that match specific criteria.</p> <p>Each subnet in your VPC must be associated with a route table. If a subnet is not explicitly associated with any route table, it is implicitly associated with the main route table. This command does not return the subnet ID for implicit associations.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Route_Tables.html\">Route tables</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "DescribeSecurityGroupReferences": {
      "name": "DescribeSecurityGroupReferences",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSecurityGroupReferencesRequest"
      },
      "output": {
        "shape": "DescribeSecurityGroupReferencesResult"
      },
      "documentation": "<p>Describes the VPCs on the other side of a VPC peering or Transit Gateway connection that are referencing the security groups you've specified in this request.</p>"
    },
    "DescribeSecurityGroupRules": {
      "name": "DescribeSecurityGroupRules",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSecurityGroupRulesRequest"
      },
      "output": {
        "shape": "DescribeSecurityGroupRulesResult"
      },
      "documentation": "<p>Describes one or more of your security group rules.</p>"
    },
    "DescribeSecurityGroupVpcAssociations": {
      "name": "DescribeSecurityGroupVpcAssociations",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSecurityGroupVpcAssociationsRequest"
      },
      "output": {
        "shape": "DescribeSecurityGroupVpcAssociationsResult"
      },
      "documentation": "<p>Describes security group VPC associations made with <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_AssociateSecurityGroupVpc.html\">AssociateSecurityGroupVpc</a>.</p>"
    },
    "DescribeSecurityGroups": {
      "name": "DescribeSecurityGroups",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSecurityGroupsRequest"
      },
      "output": {
        "shape": "DescribeSecurityGroupsResult"
      },
[...]
